/* Global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

::selection {
    background-color: #533232;
    color: #ff4747;
}


/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a2727;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    z-index: 1000;
    width: 100%;
    font-family: "Oxanium", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.logo {
    width:60px;
    height: auto;
}

.navbar-center {
    text-align: center;
}

.navbar-title {
    color: white;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.menu-toggle-checkbox {
    display: none;
}

/* Search Bar */
.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.search-form button {
    background-color: #9c1616;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.search-form button:hover {
    background-color: #721818;
}

.search-form input[type="text"]::placeholder {
    color: #999;
}


@media (min-width: 601px) {

    /* Image Overlay Fade for large screens */
    .container {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
    }

    .image {
        flex: 1;
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 1s ease;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .middle {
        flex: 1;
        display: flex;
        transition: 1s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: grey; 
        border-radius: 10px; 
        box-shadow: 0px 4px 8px #4a2727;
        border-width: 1px;
        border-radius: 0px;
        width: 60%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .container:hover .image {
        opacity: 0.3;
    }

    .container:hover .middle {
        opacity: 1;
    }

    /* Footer for larger screens */
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #533232;
        color: white;
        padding: 10px;
        text-align: center;
    }
    
    /* Footer Icons - 2x2 Grid */
    .footer-icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 15%;
        gap: 10px;
        margin-bottom: 20px;
    }
    
    .icon-item {
        flex: 1 1 45%; /* Each icon takes roughly half of the row in 2x2 layout */
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: #533232;
    }
    
    /* Footer Content - Horizontal Blocks */
    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 45%;
        margin-bottom: 20px;
    }

    .footer-content ul {
        list-style-type: none;
        padding: 0;
    }
    
    .footer-content ul li a {
        color: white;
        transition: color 0.3s;
    }
    
    .footer-content ul li a:hover,
    .footer-content ul li a:focus{
        color: #ddd;
        text-decoration: none;
    }

    .footer-bottom p {
        font-size: 0.9em;
        color: #ddd;
    }
}

/* Centered Newsletter and Footer Bottom */
.newsletter, .footer-bottom {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 10px;
}

.newsletter input[type="email"] {
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 5px;
}

button {
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #533232;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

/* Main Content Text Styling */
.text {
background-color:#721818;
color: white;
font-size: 16px;
padding: 16px 32px;
line-height: 1.6;
letter-spacing: 0.05rem;
word-spacing: 0.1rem;
}

.text h2 {
text-transform: capitalize;
text-shadow:
    1px 1px 1px rgb(49, 7, 120),
    2px 2px 1px rgb(106, 4, 4);
text-align: center;
line-height: 2.5;
}

.text ul {
list-style-position: outside;
margin-left: 20px; 
padding-left: 0;
text-align: left;
}

.text ul li {
margin-left: 10px;
}

.text a:link {
color: #ff4747;
}

.text a:visited {
color: rgb(253, 190, 72);
}

.text a:hover, a:focus {
text-decoration: none;
color: beige;
transition: all 0.5s ease;
}

/* Active link behaviour is not Main content specific but for all the links */
a:active {
    text-decoration: none;
    font-weight: bold;
    color: rgb(71, 147, 170);
}

.icon-item:hover, .icon-item:active {
    background-color: #fa5a5a;
}

/* Hide the checkbox by default */
    .menu-toggle-checkbox, .search-toggle-checkbox  {
        display: none;
}


/* Mobile-specific Content Styling */
@media (max-width: 600px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .middle {
        opacity: 1;
        position: sticky;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: grey; 
        border-radius: 10px; 
        box-shadow: 0px 4px 8px #4a2727;
        border-width: 1px;
        border-radius: 0px;
        width: 100%;
        text-align: center;
    }

    /* Hide the normal nav-links on mobile */
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        flex-direction: column;
        width: 200px;
        border-radius: 5px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .nav-links li {
        margin: 0;
        padding: 10px;
    }

    
    /* Show the hamburger icon */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: 0.3s;
    }

    /* Toggle the mobile menu when the checkbox is checked */
    .menu-toggle-checkbox:checked + .menu-toggle .bar:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }

    .menu-toggle-checkbox:checked + .menu-toggle .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle-checkbox:checked + .menu-toggle .bar:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -5px;
    }

    .menu-toggle-checkbox:checked + .menu-toggle + .nav-links {
        display: flex;
    }

    /* Search icon and search bar behavior on mobile */
    /* Initially hide the search bar */
    .search-bar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 200px;
    }

    /* Show the search icon */
    .search-icon {
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    /* When the checkbox is checked, show the search bar */
    .search-toggle-checkbox:checked + .search-icon + .search-bar {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 80px;
        right: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        padding: 10px;
        z-index: 1;
    }

    .search-bar input {
        border: none;
        outline: none;
        padding: 8px;
        width: 200px;
    }

    /* Mobile Screen Footer */
    footer {
        display: flex;
        flex-direction: column;
        background-color: #533232;
        color: white;
        text-align: center;
        padding: 10px;
        position: sticky;
    }
    
    .footer-icons {
        display: flex;
        flex-direction: row;
        position: sticky;
        justify-content: center;
    }
    
    .icon-item {
        justify-content: space-around;
        align-items: center;
        position: sticky;
        bottom: 2rem;
        left: 2rem;
        margin: 0 1rem;
        padding: 0.5rem;
        background-color: white;
        color: rgb(138, 0, 0);
        border-radius: 0.5rem;
        opacity: 1;
    }
    
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .footer-content h3 {
        margin: 15px 20px ;
    }

    .footer-content ul li,
    .footer-content button {
        display: none;
    }
      
}
